In [1]:
!pip install pandas fpdf

Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Collecting fpdf
  Downloading fpdf-1.7.2.tar.gz (39 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: fpdf
  Building wheel for fpdf (pyproject.toml): started
  Building wheel for fpdf (pyproject.toml): finished with status 'done'
  Created wheel for fpdf: filename=fpdf-1.7.2-py2.py3-none-any.whl size=40769 sha256=bea329722f4caf93374bb676c46da5560039a04ffca015b2b17d5a2431c58423
  Stored in directory: c:\users\acer\appdata\local\pip\cache\wheels\aa\da\11\a3189f34ddc13c26a2d0f329eac46b728c7f31c39e4dc26243
Successfully built fpdf
Installing collected packages: fpdf
Successfully installed fpdf-1.7.2

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

# Download CSV from GitHub
url = "https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/Employee%20data.csv"
data = pd.read_csv(url)

# Save to local file for reference
data.to_csv("employee_data.csv", index=False)

# Preview data
data.head()

,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,1.0,Male,1952-02-03,15,Manager,57000.0,27000.0,98.0,144.0,No
1,2.0,Male,1958-05-23,16,Clerical,40200.0,18750.0,98.0,36.0,No
2,3.0,Female,1929-07-26,12,Clerical,21450.0,12000.0,98.0,381.0,No
3,4.0,Female,1947-04-15,8,Clerical,21900.0,13200.0,98.0,190.0,No
4,5.0,Male,1955-02-09,15,Clerical,45000.0,21000.0,98.0,138.0,No

In [6]:
# Average salary overall
avg_salary = data["salary"].mean()

# Department-wise average salary
department_stats = data.groupby("jobcat")["salary"].mean().reset_index()

# Display summary
print(f"Total Records: {len(data)}")
print(f"Average Salary: {avg_salary:.2f}")
department_stats

Total Records: 474
Average Salary: 34419.57

      jobcat        salary
0   Clerical  27838.539945
1  Custodial  30938.888889
2    Manager  63977.797619

In [9]:
from fpdf import FPDF

pdf = FPDF()
pdf.add_page()
pdf.set_font("Arial", "B", 16)
pdf.cell(0, 10, "Automated Employee Report", ln=True, align="C")

pdf.set_font("Arial", "", 12)
pdf.ln(10)
pdf.cell(0, 10, f"Total Records: {len(data)}", ln=True)
pdf.cell(0, 10, f"Average Salary: {avg_salary:.2f}", ln=True)

pdf.ln(10)
pdf.set_font("Arial", "B", 12)
pdf.cell(0, 10, "Average Salary by Department:", ln=True)
pdf.set_font("Arial", "", 12)
for index, row in department_stats.iterrows():
    pdf.cell(0, 10, f"{row['jobcat']}: {row['salary']:.2f}", ln=True)

pdf.ln(10)
pdf.set_font("Arial", "B", 12)
pdf.cell(0, 10, "Individual Records:", ln=True)
pdf.set_font("Arial", "", 10)
for _, row in data.iterrows():
    pdf.cell(0, 10, f"{row['id']} - {row['jobcat']} - {row['salary']}", ln=True)

# Save PDF
pdf.output("employee_report.pdf")

''

In [10]:
from IPython.display import FileLink
FileLink("employee_report.pdf")

C:\Users\Acer\OneDrive\Desktop\jupyter\python internship\employee_report.pdf